html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.wrapper {
  height: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(207, 87, 197);
  padding-top: 15px;
  height: 100%;
}

.cardDesc {
  width: 600px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 5px;
}

#output {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(207, 87, 197);
}

.card {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(202, 169, 233);
  box-shadow: 7px -5px 5px silver;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  background-color: rgb(178, 158, 196);
}
#inp,
#btn,
#select {
  border-radius: 3px;
}
